
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model DrinkDiscovery_Revised.Models.IcecekYorumlar

@* // yorum ekleme sayfası yap *@

@{
    ViewData["Title"] = "IcecekYorumEkle";
    // Layout = "~/Views/Shared/_Layout.cshtml";

    var userId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var id = userId;
    var icecekId = ViewBag.SelectedBeverage.IcecekId;

}


<form asp-action="IcecekYorumEkle" method="post">
    @* kullanici id sini hidden value ya al *@
    <input type="hidden" asp-for="YorumKullaniciId" value="@userId" />
    <input type="hidden" asp-for="YorumIcecekicecekId" value="@icecekId" />

    <div class="form-group">
        @* <label asp-for="YorumIcerik" class="control-label"></label> *@
        <textarea asp-for="YorumIcerik" class="form-control" rows="5" placeholder="Buradan yorum yazabilirsiniz..."></textarea>
        <span asp-validation-for="YorumIcerik" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Yorum Ekle" class="btn btn-primary" />
    </div>
</form>

@* yapılan yorumları görüntüleme *@
