
@{
    ViewData["Title"] = "CancelOrder";
}

<h1>Cancel Order</h1>

<p> 
    Siparişinizi iptal etmek üzeresiniz. Onaylıyor Musunuz?
</p>
<a class="btn btn-danger" asp-action="CancellingOrder" asp-controller="Payment">Onaylıyorum</a>
