
@{
    ViewData["Title"] = "IndexEmail";
}

<h1>IndexEmail</h1>

<p>Mail gönderildi. Siparişinizi onaylamak için mail hesabınızı kontrol ediniz.</p> <strong>Lütfen bu sayfayı kapatmayınız.</strong>
<br />

<p> Onayladıktan sonra bu linkten anasayfaya dönebilirsiniz.</p> <a href="@Url.Action("Index", "Home")" class="btn btn-success">Anasayfaya Dön</a>

