@model DrinkDiscovery_Admin_Revised.Models.TatlilarKategoris;
@using DrinkDiscovery_Admin_Revised.Models;

@{
    ViewData["Title"] = "KategoriDuzenle";
}

<h1>Kategori Duzenle</h1>

@using (Html.BeginForm("KategoriDuzenle", "TatlilarKategori", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="table table-active">
        <tr>
            <td>
                <div class="mb-3">
                    <label for="tatli_kategori_id" class="form-label">Kategori ID</label>
                    @Html.TextBoxFor(x => x.tatli_kategori_id, new { @class = "form-control", @id = "tatli_kategori_id", style = "width: 350px;", @readonly = "readonly" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mb-3">
                    <label for="tatli_kategori_ad" class="form-label">Kategori Adı</label>
                    @Html.TextBoxFor(x => x.tatli_kategori_ad, new { @class = "form-control", @id = "tatli_kategori_ad", style = "width: 350px;" })
                </div>
            </td>
        </tr>

    </table>

    <br />
    <button class="btn btn-info" style="width: 350px;">Kategori Düzenle</button>
}